.animal {
  background-color: gray;
  margin: 10px;
  max-height: 400px;
  max-width: 220px;
  justify-self: center;
  border-radius: 10px;
}

.animal-icon {
  width: 220px;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.like {
  display: grid;
  grid-template-columns: auto auto;
}
.close {
  background-color: black;
  color: yellow;
  font-weight: bold;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
}
span:hover {
  background-color: red;
  cursor: pointer;
}
.like-button {
  margin: 10px;
}
.like-number {
  margin: 16px 0;
}
